/* FONTS */
/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/space-mono-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/space-mono-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-green-400: hsl(172, 67%, 45%);
  --clr-green-800: hsl(183, 79%, 24%);
  --clr-green-850: hsla(183, 100%, 15%, .5);
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-50: hsl(189, 47%, 97%);
  --clr-white: hsl(0, 100%, 100%);

  --ff-primary: 'Space Mono', monospace;

  --fw-regular: 400;
  --fw-bold: 700;

  --inputs-padding-h: .75rem;
  --inputs-padding-v: .125rem;
}

/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

img, svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

/* BUTTONS */
.btn {
  padding: .25rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--tip {
  color: var(--clr-white);
  background-color: var(--clr-green-900);
  transition-property: background-color, color;
  transition-duration: 200ms; 
  transition-timing-function: ease-in-out;
}

.btn--tip.active,
.btn--reset {
  background-color: var(--clr-green-400);
  color: var(--clr-green-900);
}

.btn--reset:disabled {
  background-color: var(--clr-green-800);
  color: var(--clr-green-850);
}

.btn--tip:not(:disabled, .active):is(:hover, :focus-visible),
.btn--reset:not(:disabled):is(:hover, :focus-visible) {
  cursor: pointer;
  background-color: var(--clr-grey-200);
  color: var(--clr-green-900);
}

/* INPUTS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:where(input[type="number"]) {
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: right;
  outline: 0;
  border: 0;
  color: var(--clr-green-900);
  padding: var(--inputs-padding-v) 0;
  font-size: 1.5rem;
}

input[type="number"]::placeholder {
  color: var(--clr-grey-400);
}

input[type="number"]:not(:disabled) {
  cursor: pointer;
}

.input-group {
  padding: 0 var(--inputs-padding-h);
  display: flex;
  align-items: center;
  
}

.input-group input {
  flex: 1;
  width: 100%;
  background-color: transparent;
}

.custom-input[type="number"] {
  padding: var(--inputs-padding-v) .75rem;
}

.custom-input,
.input-group {
  background-color: var(--clr-grey-50);
  border-radius: 4px;
  border: 2px solid var(--clr-grey-50);
}

.custom-input:focus,
.input-group:focus-within {
  border-color: var(--clr-green-400);
}

.input-group.error {
  border-color: red;
}

/* FORM GROUPS */
.form-group {
  /* outline: 2px solid red; */
  font-size: .85rem;
  color: var(--clr-grey-500);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25rem;
}

.form-group .input-group {
  grid-column: 1 / -1;
}

.form-group.percentage {
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  column-gap: .75rem;
}

.form-group:not(:has(.error)) :first-child {
  grid-column: 1 / -1;
}

.form-group.percentage input {
  width: 100%;
}

.error {
  color: red;
  justify-self: end;
}

/* APP */
.app {
  display: grid;
  min-height: 100vh;
  background-color: var(--clr-grey-200);
  align-content: center;
  gap: 2rem;
}

.logo {
  justify-self: center;
}

.container {
  background-color: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .25);
  padding: 1rem;
}





